# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
*.lastbuildstate
*.tlog
*.obj
*.pdb
*.ilk
chapter01/Debug/chapter01.exe
ingredients/Debug/ingredients.lib
chapter02/Debug/chapter02.exe
chapter03/Debug/chapter03.exe
chapter04/Debug/chapter04.exe
chapter05/Debug/chapter05.exe
chapter06/Debug/chapter06.exe
chapter07/Debug/chapter07.exe
chapter10/Debug/chapter10.exe
chapter08/Debug/chapter08.exe
chapter09/Debug/chapter09.exe
GLSLCOOKBOOK.v12.suo
GLSLCOOKBOOK.sdf
*.sdf
*.sdf
ingredients/Release/ingredients.lib
*.sdf
chapter10/Release/chapter10.exe
*.cache
chapter01/Release/chapter01.exe
GLSLCOOKBOOK.sdf
chapter02/Release/chapter02.exe
chapter03/Release/chapter03.exe
chapter04/Release/chapter04.exe
chapter06/Release/chapter06.exe
chapter05/Release/chapter05.exe
chapter07/Release/chapter07.exe
chapter08/Release/chapter08.exe
chapter09/Release/chapter09.exe
*.sdf
*.sdf
